@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;900&display=swap");

* {
    font-family: "Nunito", sans-serif;
}

.animate-loader {
    animation: loading 15s ease forwards infinite;
    transform-origin: left;
}

.trail {
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), 0.25rem 0.25rem 0 0 var(--tw-shadow-color, #000);
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}
